body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
}

#titulo {
    background-color: #cce6ff; /* Azul claro */
    padding: 10px;
    border-radius: 5px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.campo {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.grupo {
    margin-bottom: 20px;
}

.botao {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.botao:hover {
    background-color: #45a049;
}

#check {
    margin-top: 10px;
}

#check input[type="checkbox"],
#check input[type="radio"] {
    margin-right: 5px;
}

#check label {
    margin-right: 15px;
}